/*HexTek Games (c)2017 */

/*Style Shit*/

.mensaje{
    position:relative;
    display:block;
    padding:10px;
    width:auto;
    height:auto;
    background-color: gray;
    margin-bottom: 50px;
}

#enviado{
    background-color: #4cd964;
    border-radius: 20px 0 20px 20px;
    float: right;
    color: white;
}

#recibido{
    color: white;
    background-color: #34aadc;
    border-radius: 0 20px 20px 20px;
    float: left;
}
